body {
    background-color: #d4d4d4;
}

.outer-shape {
    align-items: center;
    display: flex;
    justify-content: center;
}

.inner-content {
    position: relative;
    width: 35%;
    height: 100%;
    box-shadow: 0 0 6px #646363;
    background-color: white;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.general-text {
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

.other-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

.required:after {
    content:" *";
    color: red;
}

input[type="text"] {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f5f8fa;
    border-radius: 4px;
    border: 1px solid black;

    width: 94%;
    box-sizing:border-box;
    height: 30px;
    font-size: 18px;
}

input[type="radio"] {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

input[type="radio"]:hover {
    cursor: pointer;
}

input[type="submit"] {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;

    background-color: #6b40d8;
    color: white;

    border-radius: 4px;
    border: 1px solid #6b40d8;
    width: 100px;
    height: 35px;
}
